<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/Content/bootstrap-theme.css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
